.chart-of-accounts {
    /* Add styles for the chart of accounts component */
  }
  
  .account-list {
    /* Add styles for the account list */
  }
  
  .account-item {
    /* Add styles for individual account items */
  }
  