.inventory-management {
    /* Add styles for the inventory management component */
  }
  
  .inventory-list {
    /* Add styles for the inventory list */
  }
  
  .inventory-item {
    /* Add styles for individual inventory items */
  }
  